.grid{
  display: grid;
  grid-gap:15px;
  grid-template-columns: repeat(16,50px);
  grid-template-rows:    repeat(16,50px);
  background-color: black;

}
.grid2{
  display: grid;
  grid-gap:15px;
  grid-template-columns: repeat(16,50px);
  grid-template-rows:    repeat(32,50px);
  background-color: black;
}
.box{
  background-color: #48ABE7;
  height: 50px;
  width:50px;
  border-radius: 12px;
}

.clear{
  background-color: yellow;
  height: 50px;
  width:50px;
}
